@use '../base/variables' as * ;
@use '../base/mixins' as m ;


.ac .ac-trigger{
    font: inherit;
}

// about-section

.about-section__text .ac{
    background-color: transparent;
    border: none;
}
.about-section__text .ac-header{
    background-color: transparent;
}
.about-section__text .ac-header .ac-trigger{
    @include m.text-title;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.about-section__text .ac-header .ac-trigger::after{
    display: none;
}
.about-section__text .ac.ac-trigger::after{
    content: none;
}
.about-section__text .ac .ac-panel .ac-text{
    padding: 0;
}


// faq-section

.faq-section__list .ac{
    margin-bottom: 0;
    background-color: transparent;
    border: none;
}
.faq-section__list .ac-header{
    background-color: transparent;
    margin-top: 2rem;
}

.faq-section__list .ac-trigger{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.faq-section__list .ac-trigger::after{
    display: none;
    content: none;
}


