@use "../base/mixins" as m;

.button {
  padding: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid
    color-mix(in srgb, var(--primary-white-color), transparent 80%);
  background-color: transparent;
}

.main-button {
  background-color: transparent;
  padding: 1.125rem 2.25rem;
  border: 1px solid
    color-mix(in srgb, var(--primary-white-color), transparent 60%);
  border-radius: 3.5rem;
  font-family: "InterTight";
  font-size: 1rem;
  color: var(--primary-white-color);
}

.control-button {
  background-color: transparent;
  border: 1px solid
    color-mix(in srgb, var(--primary-white-color), transparent 80%);
  border-radius: 50%;
  padding: 0.85rem;
  &--is-active {
    border: 1px solid color-mix(in srgb, var(--primary-white-color), transparent 20%);
    stroke: var(--primary-white-color);
  }
}
