@use "../base/mixins" as m;
@use "../base/variables" as *;

.education-section {
  margin-top: 1.2rem;
  @media (min-width: $bp-tablet) {
    margin-top: 2rem;
  }
  &__skills {
    margin-top: 2rem;
    @include m.flex-between;
    align-items: center;
    gap: 47px;
    @media (min-width: $bp-desktop) {
      margin-top: 6rem;
    }
    &__list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      &__item {
        width: 130px;
        height: 130px;
        flex: 0 0 auto;
        background-color: transparent;
        border: 1px solid
          color-mix(in srgb, var(--primary-white-color), transparent 80%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "InterTight";
        color: var(--primary-white-color);
        @media (min-width: $bp-tablet) {
          width: 200px;
        height: 200px;
        font-size: 1.25rem;
        }
        &-active {
          background-color: var(--primary-red-color);
        }
      }
    }
    &__button {
      stroke: var(--primary-gray-color);
      border: none;
      transform: rotate(180deg);
    }
  }
}
.education-section hr {
  margin-top: 2rem;
}

.button-skills{
  &__icon{
    width: 28px;
    height: 28px;
    @media (min-width: $bp-tablet) {
      width: 40px;
    height: 40px;
    }
  }
}
