@use '../base/variables' as *;

.projects-section{
    margin-top: 4rem;
    @media (min-width: $bp-tablet) {
      margin-top: 6rem;
    }
    @media (min-width: $bp-desktop) {
      margin-top: 10.25rem;
    }
    &__list{
      display: flex;
      flex-wrap: no-wrap;
      overflow-x: auto;
      gap: 1rem;
      @media (min-width: $bp-desktop) {
        margin-top: 2rem;
      }
    }
    &__item{
      width: 100%;
      flex-shrink: 0;
    }
    &__controls{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 0.75rem;
        @media (min-width: $bp-desktop) {
          margin-top: 4rem;
        }
      }
}

