@use '../base/variables' as *;
.reviews-section{
    margin-top: 4rem;
    @media (min-width: $bp-desktop) {
        margin-top: 6rem;
      }
    &__card{
        margin-top: 2rem;
        background-color: transparent;
        &__icon{
            padding: 0;
        }
    }
    &__list{
        font-family: "InterTight";

       
    }
    &__item{
        width: 100%;
        height: 100%;
        padding: 2rem 1.5rem;
        border: 1px solid color-mix(in srgb, var(--primary-white-color), transparent 80%);
        border-radius: 24px;
        
    }
    &__button-container{
        margin-top: 2rem;
    }
}

.reviews-section__list .swiper-slide{
    height: auto !important;
}