.reviews-section{
    margin-top: 4rem;

    &__card{
        margin-top: 2rem;
        background-color: transparent;
        border: 1px solid color-mix(in srgb, var(--primary-white-color), transparent 80%);
        &__icon{
            padding: 0;
        }
    }
}