@use '../base/variables' as *;

.container{
    width: 100%;
    max-width: $bp-desktop;
    margin: 0 auto;
    padding: 0 1rem ;
   
    @media (min-width: $bp-tablet) {
        padding: 0 2rem ;
    }
}

.wrapper-container .container{
    position: relative;
    z-index: 3;
   
}

.wrapper-theme-container{
    background-color: var(--primary-dark-color);
}
