:root{
    --primary-dark-color: #1c1d20;
    --secondary-dark-color: #242527;
    --primary-gray-color: #3b3b3b;
    --primary-red-color: #ed3b44;
    --primary-white-color: #fafafa;

    // linear-gradients

    --red-gradient: #ED3B44;
    --dark-red-gradient:#5f2428;
    --dark-gradient:#19191b;
}

// breakpoints

$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1440px;
